client_id = "7f05797a4adbfbf41ec24f40a0f25ace"
name = "review-app"
application_url = "https://review-app-9zoe.onrender.com"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2026-04"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
scopes = "write_products"

[auth]
redirect_urls = [
  "https://review-app-9zoe.onrender.com/auth/callback",
  "https://review-app-9zoe.onrender.com/auth/shopify/callback",
  "https://review-app-9zoe.onrender.com/api/auth/callback"
]
